[mysqld]
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /var/lib/mysql/mysql.sock
pid-file                       = /var/lib/mysql/mysql.pid
# mysqltuner 
# не определять доменные имена для IP-адресов подключающихся клиентов
skip-name-resolve 
# буфер для работы с ключами и индексами
key_buffer_size = 32M
# размер кэша. 0 отключает использование кэша
query_cache_size = 0
# отключает работу MySQL Query Cache
query_cache_type = 0
# число кэшируемых потоков
thread_cache_size = 50 

# percona
# активные подключения к базе данных
max_connections = 500
# количество кэшированных открытых таблиц
table_open_cache = 2048
# определяет размер кэша для структур таблиц
table_definition_cache = 1024
# лимит открытых файлов (ulimit -n)
open_files_limit = 65535
# размер памяти, выделяемый для хранения и индексов и данных
innodb_buffer_pool_size = 128M
# максимальный размер одного лог-файла. При достижении этого размера будет создаваться новый файл
innodb_log_file_size = 64M
# лог сбрасывается на диск один раз в секунду, вне зависимости от происходящих транзакций
innodb_flush_log_at_trx_commit = 0
# определяет метод сброса данных из памяти на диск (O_DIRECT использует 4 операции записи на диск на каждый вызов)
innodb_flush_method = O_DIRECT 
